@media(min-width: 1000px){
    #banner-container{
        width: 100%;
    
        #banner{
            width: 100%;
            opacity: 50%;
        }
    }
}

@media(max-width: 1000px){
    #banner-container{
        width: 100%;
    
        #banner{
            width: 100%;
            opacity: 50%;
        }
    }
}
